/* roots and customs */
:root {
  --clr-lighter: #def0fa;
  --clr-light: #54a6be;
  --clr-midtone: #01799c;
  --clr-dark: #012069;
  --clr-contrast1: #e8b01a;
  --clr-contrast2: #dadbdd;
  --clr-contrast3: #636669;
  --ff-primary: "Jura", sans-serif;
  --ff-accent: ;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* get rid of arrows in number input */
/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body,
main,
h1,
h2,
h3,
p,
.navbar {
  padding: 0 !important;
  margin: 0 !important;
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    var(--clr-light),
    var(--clr-midtone)
  );
  /* background-image: url(pipes.png);
  background-size: cover; */

  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

img {
  /* background-color: red; */
  width: 300px;
  /* display: block; */
  /* margin-left: 50px; */

  /* height: 100%; */
}

/* classes below */
.navbar-brand {
  color: var(--clr-contrast2) !important;
}
.navbar {
  border-radius: 0;
  background: var(--clr-dark);
}
.my-links a {
  color: white !important;
  text-decoration: none;
  padding: 7px 15px !important;
  margin: 8px;
  border: 2px solid var(--clr-contrast1);
  border-radius: 25px;
  cursor: pointer;
}
.my-links a:hover {
  border: 2px solid white;
}

.glass {
  /* margin: 30px; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  /* justify-content: center; */
  background: linear-gradient(
    to right bottom,
    rgba(1, 20, 69, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  /* background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0.4)
  ); */

  /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  ); */

  border-radius: 10px;
  backdrop-filter: blur(3px);
  /* box-shadow: -5px -5px 10px var(--clr-midtone), 5px 5px 10px #00526a;
  box-shadow: -5px -5px 10px var(--clr-lighter), 5px 5px 10px white; */
}

.title {
  /* color: var(--clr-dark); */
  color: var(--clr-contrast1);
  text-align: center;
  margin-bottom: 3rem !important;

  /* text-align: center; */
  /* padding: 10px !important; */
  /* background-color: var(--clr-light); */
  /* margin-top: 20px !important; */
  /* border: 3px solid var(--clr-dark); */
  /* border-radius: 8px; */
  /* background-color: transparent; */
  /* box-shadow: inset -3px -3px 3px var(--clr-midtone), */
  /* inset 2px 2px 3px var(--clr-midtone); */
}

.input {
  margin-bottom: 3rem;
  text-align: right;
  /* margin-right: auto; */
  /* background-color: red; */
  color: var(--clr-contrast2);
}

.input-field {
  margin-bottom: 1rem;
}

.answer {
  margin: 5vh 5vh 0 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 30vh;
}
.output-row {
  color: var(--clr-contrast2);
  display: flex;
  flex-direction: row;
}

.labels,
.data {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.labels > div,
.data > div {
  margin-bottom: 1rem !important;
}

.labels {
  align-items: flex-end;
}
.data {
  align-items: flex-start;
  padding: 0 1rem 0 2rem;
}

.answer-column {
  display: flex;
  flex-direction: column;
}
.answer-row {
  display: flex;
  flex-direction: row;
}
/* id's below */
#psize,
#trim-angle {
  color: black;
  width: 4rem;
}

#psizeInvalid,
#angleInvalid {
  background-color: black;
  border-radius: 3px;
  margin-left: 2rem;
  color: red;
}
#glass-title {
  margin: 5vh;
  /* width: 60%; */
  width: 500px;
  height: 65vh;
}

#calculate {
  color: var(--clr-dark);
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 5px 10px var(--clr-dark);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f5b324),
    color-stop(1, #f3c45d)
  );
  background: -moz-linear-gradient(center top, #f5b324 5%, #f3c45d 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b324', endColorstr='#f3c45d'); */
  background-color: #f5b324;
}
#calculate:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f3c45d),
    color-stop(1, #f5b324)
  );
  background: -moz-linear-gradient(center top, #f3c45d 5%, #f5b324 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c45d', endColorstr='#f5b324');
  background-color: #f3c45d;
}
@media screen and (max-width: 1080px) {
  .answer-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 100vw;
  }
  main {
    margin: 0 !important;
    width: 100vw !important;
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .answer {
    padding: 0 !important;
    margin: 0 0 10px 0 !important;
    width: 90vw;

    display: flex;
    justify-content: center;
  }
  #glass-title {
    width: 90vw;
  }
}
