/* roots and customs */
:root {
  --clr-lighter: #def0fa;
  --clr-light: #54a6be;
  --clr-midtone: #01799c;
  --clr-dark: #012069;
  --clr-contrast1: #ffcd00;
  --clr-contrast2: #dadbdd;
  --clr-contrast3: #636669;
  --ff-primary: "Jura", sans-serif;
  --ff-accent: ;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* get rid of arrows in number input */
/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body,
main,
h1,
h2,
h3,
p,
.navbar {
  padding: 0 !important;
  margin: 0 !important;
}
main {
  height: 100vh;

  background: linear-gradient(to right top, var(--clr-lighter), #54a6be);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* classes below */
.navbar-brand {
  color: white !important;
}
.navbar {
  background: var(--clr-dark);
}
.my-links a {
  color: white !important;
  text-decoration: none;
  padding: 7px 15px !important;
  margin: 8px;
  border: 2px solid var(--clr-contrast1);
  border-radius: 25px;
  cursor: pointer;
}
.my-links a:hover {
  border: 2px solid white;
}

.glass {
  width: 60%;
  min-height: 80vh;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

/* id's below */
.container-main {
  padding: 10px 0 0 30px;
  /* background-color: red; */
}
.title {
  color: var(--clr-contrast2);
  text-align: center;
  padding: 10px;
  /* background-color: var(--clr-light); */
  margin-bottom: 20px;
  border: 3px solid var(--clr-dark);
  border-radius: 8px;
  background-color: var(--clr-dark);
  box-shadow: inset -1px -1px 5px white, inset 1px 1px 5px white;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: -5px -5px 10px var(--clr-dark), 5px 5px 10px var(--clr-dark);
}
.top-row {
  display: flex;
}
#psize,
#trim-angle {
  width: 3rem;
  /* display: inline; */
}
.input-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
  margin-left: 50px;

  /* height: 100%; */
}
